.ba-footer {
    background: #fff;
    padding: 20px 0;
    font-size: 14px;
    ul{
        margin-left: 0;
        padding-left: 16px;
    }
    li{
        line-height: 1;
        & + li{
            padding-top: 18px;
        }
    }
    .active{
        color: $primary-color;
    }
    a{
        color: inherit;
        &:hover{
            color: $primary-color;
        }
    }

    @include breakpoint(medium) {
        padding: 40px 0;

        ul {
            margin-bottom: 0;
        }
    }

    @include breakpoint(large) {
        padding: 90px 0 80px;
    }
}

.ba-copyright {
    margin-top: 16px;
}

