<footer class="ba-footer">
    <div class="row">
        <div class="column small-12 medium-6 large-4 medium-order-1 large-order-1">
            <img src="{{root}}assets/img/logo.png" alt="Shopy">
            <p class="ba-copyright">
                shopy c 2015 . your copy right here
            </p>
            <!-- /.ba-copyright -->

        </div>
        <!-- /.column -->
        <div class="column small-6 medium-4 large-2  medium-order-3 large-order-2">
            <ul>
                <li class="active">
                    <a href="#">about us</a>
                </li>
                <li>
                    <a href="#">contact us</a>
                </li>
                <li>
                    <a href="#">support</a>
                </li>
            </ul>
        </div>
        <!-- /.column small-6 -->
        <div class="column small-6 medium-4 large-2  medium-order-3 large-order-2">
            <ul>
                <li>
                    <a href="#">our feed</a>
                </li>
                <li>
                    <a href="#">terms and conditions</a>
                </li>
                <li>
                    <a href="#">our privacy</a>
                </li>
            </ul>
        </div>
        <!-- /.column small-6 -->
        <div class="column small-6 medium-4 large-2  medium-order-3 large-order-2">
            <ul>
                <li>
                    <a href="#">join us</a>
                </li>
                <li>
                    <a href="#">live support</a>
                </li>

            </ul>
        </div>
        <!-- /.column small-6 -->
        <div class="column small-12 medium-6 large-2  medium-order-2  large-order-3">
            
            <p class="h5 text-primary"> Payment Methods</p>
            <img src="{{root}}assets/img/Payment.png" alt="Payment Methods">
        </div>
        <!-- /.column small-12 -->
    </div>
    <!-- /.row -->

</footer>