<section class="ba-section">
    <div class="row align-middle">
        <div class="column large-8">
            <div class="ba-sale row">
                <div class="ba-sale-pick large-3">
                    <img src="{{root}}assets/img/sale.png" alt="Sale">
                </div>
                <!-- /.ba-sale-pick -->
                <div class="ba-sale-title large-6">
                    <h3 class="ba-sale-title__main">
                        Full winter kit
                    </h3>
                    <!-- /.ba-sale__title -->
                    <p class="ba-sale-title__sub">
                            Half Jacket + Skiny Trousers + Boot leather
                    </p>

                </div>
                <div class="ba-sale-price large-3">
                        <svg width="22" height="21">
                                <use xlink:href="#icon-add-to-cart" />
                            </svg>
                    <p>$120</p>
                </div>
                <!-- /.ba-sale-price -->

            </div>
            <!-- /.ba-sale -->

        </div>
        <!-- /.column large-8 -->
        <div class="column large-4">

        </div>
        <!-- /.column large-4 -->
    </div>

</section>