<section class="ba-section">
    <div class="row column">
        <div class="ba-box">
            <div class="row">
                <div class="small-12 large-7 ba-subcribe-desc">
                    <h5 class="text-primary ba-subcribe-desc__title">NEWS LETTER</h5>
                    <p>join us now to get all news ands special offers</p>
                    <!-- /.text-primary -->
                </div>
                <div class="small-12 large-5">
                    <form action="#" class="ba-subscribe-form input-group">
                        <input class="ba-input-email input-group-field"  type="email" name="email" required placeholder="type your email here">
                        <button type="submit" class="button input-group-button">
                            join us
                        </button>
                    </form>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.ba-box -->
    </div>
    <!-- /.row column -->
</section>
<!-- /.ba-section -->